@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .menuItem {
        display: none;
    }

    div#root {
        padding: 20px;
    }

    .navbar-nav {
        margin-right: 0px;
    }

    .language-btn {
        margin: 10px 0px;
        width: 100%;
    }

    .login-btn {
        width: 100%;
        margin: 10px 5px;
    }

    div#mynavbar {
        border: 1px solid #f7e6ce;
    }

    .present {
        margin-right: 0px;
        padding: 5px;
    }

    .subTitle {
        width: 100%;
        margin-bottom: 30px;
    }

    .buttons, .mediaInfo, .sameFlex {
        margin-bottom: 10px;
    }

    .box {
        width: 100%;
        margin-bottom: 30px
    }

    .boxTitle {
        text-align: center;
    }

    .asidePart {
        position: relative;
        margin: 30px;
        top: 0;
        left: 0;
    }

    .asideTitle {
        width: 100%;
    }

    .aside::before {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgb(0 0 0 / 34%);
        border-radius: 20px;
        display: block;
    }

    .equal {
        height: auto;
    }

    .backGradient {
        padding: 15px;
    }

    .mEmp {
        margin: 0px;
    }

    .employee, .dizinfact {
        height: auto;
    }

    .thirdPart {
        margin-top: 40px;
        margin-left: 10px;
    }

    .thirdSectionTitle {
        width: 100%;
        font-size: 30px;
    }

    .lastSection {
        padding: 15px;
    }

    .personalDetails {
        margin: 0;
        padding: 20px;
        max-width: 100%;
    }

    .logoImage {
        margin-bottom: 15px;
    }

    .title {
        font-size: 50px;
        line-height: 52px;
    }
}
